.tasks-table {
    width: 100%;
    border: #CCC 1px solid;
}

.tasks-table thead tr td {
    font-weight: bold;
    background: #FED703;
    color: #111;
}

.tasks-table tr td {
    border-bottom: #ccc 1px solid;
    padding: 5px;
}