* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.App {
}

.sidebar {
    padding-right: 10px;
}

.main-section {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.tasks-list-container {
    padding: 10px;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}